.nav h1{
  font-family: verdana;
  font-size: 180%;
  font-weight: lighter;
  text-decoration: underline;
}
.card{
    margin-left: 20%;
    margin-right:20%;
    background-color: pink;
    color:brown;
    font-family: verdana;
    font-size: 120%;
    font-weight:lighter;
}
.card a{
    text-decoration: none;
    color:brown;
    font-family: verdana;
    font-size: 120%;
    font-weight:lighter;
    background-color: cornsilk;
}
label{
    float: left;
    padding-left: 10%;
}
input{
    width: 350px;
    height:30px;
}
table,tr,td{
    padding:10px;
}
