.container{
    padding-left: 10%;
    color:cornsilk;
    background-color: brown;
}
.container h1{
    font-family: verdana;
    font-weight: lighter;
    font-size:180%;
    color:cornsilk;
}
.container input,select{
    background-color:yellow;
    color: green;
    border:0px;
    
}
h1{
    font-family: verdana;
    font-weight: lighter;
    font-size:180%;
    color:brown;
}